<template name="_profileHeader">
  <div class="profile-header">
    {{> avatar user=this size="large" shape="circle"}}
    <h3>{{ profile.name }}</h3>
    <p>
      <!-- <a href="https://atmospherejs.com/{{profile.name}}" target="_blank">
        <img src="/images/atmosphere-ico.png" width=32 height=32 class="positive" />
        atmospherejs.com/{{profile.name}}
      </a> -->



        <img src="/images/doctor.jpg" width=80 height=120 class="positive" />
        <p>方怡</p>
        <p>13912012012</p>

    </p>
  </div>
</template>
