<template name="lists">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Lists</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" onclick="alert('TODO')">编辑</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#each times}}

          {{#ionItem buttonRight=true avatar=true}}


          <img src="/images/mcfly.jpg">

            <h2>常见问题</h2>
            <p>
              抑郁症问题
            </p>
            <button class="button button-large button-stable" data-ion-modal="_question">详情</button>

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
