
<template name="notifications">

  {{#contentFor "headerTitle"}}
    <h1 class="title">我的服药卡</h1>
  {{/contentFor}}



    {{#ionView}}
        {{#ionContent}}

          {{> mydrugs }}

      {{/ionContent}}
    {{/ionView}}

</template>


<template name="mydrugs">

      {{#each drugs }}

        {{> drug }}

      {{/each}}

</template>

<template name="drug">
  <div class="card">
    <div class="item item-text-wrap">
      {{#each items }}
      <p>
        {{formatdate datebegin}}
        <span>-</span>
        {{formatdate dateend}}
        {{times}}
        {{tablet}}
        {{liq}}
        {{item}}
      </p>
      {{/each}}

  </div>
</div>

</template>
