<template name="notifications">
  {{#contentFor "headerTitle"}}
    <h1 class="title">我的服药卡</h1>
  {{/contentFor}}



    {{#ionView}}
        {{#ionContent}}

    <div class="card">
      <div class="item item-text-wrap">
        <p>5.13-5.21 每日1次 每次0.5片</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p>5.21-5.27 每日1次 每次1片</p>
      </div>
    </div>


    <div class="card">
      <div class="item item-text-wrap">
        <p>5.27-5.30 每日1次 每次2片</p>
      </div>
    </div>




      {{/ionContent}}
    {{/ionView}}


      <!-- <div class="empty-view">
        <span>5.13-5.21 每日1次 每次0.5片</span>
        <p>5.21-5.27 每日1次 每次1片</p>
        <p>5.27-5.30 每日1次 每次2片</p>
      </div> -->

      <!-- <button class="button button-clear pull-right button-positive" data-action="share-product" data-product-id="{{product._id}}">
        {{> ionIcon icon='ios-upload-outline'}}
      </button> -->

</template>
