<template name="trending">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive">
      {{>ionNavBackButton class="button-positive" text=false}}
    </button>

    <!-- <button class="button button-clear pull-left button-positive"  data-ion-modal="search">
      {{>ionNavBackButton class="button-positive" text=false}}
    </button> -->
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <!-- <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button> -->

    <button class="button button-clear pull-right button-positive"  data-action="logout">
      <!-- {{> ionIcon icon='ios-people-outline'}} -->
      退出
    </button>

     <!-- <div class="padding">
       <button class="button button-positive button-block" data-action="logout">退出</button>
     </div> -->

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">医生办公室</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each products}}
          {{> _productItem product=this path="products.show"}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
